<a href="/users/<%= current_user.id %>">Your Page</a>
<h1>Everyones Secrets</h1>
<h2>Listed Anonymously</h2>
<% @secrets.each do |secret| %>
  <h4><%=secret.content%></h4>
  <p>Total Likes: <%= secret.likes.count %></p>
  <% unless secret.users.include?(current_user) %>
    <a href="/secrets/<%=secret.id%>/likes" data-method="POST">Like</a>
  <% else %>
    <a href="/secrets/<%=secret.id%>/likes/<%= Like.where(user: current_user, secret: secret).first.id %>" data-method="delete">Unlike</a>
  <% end %>
  <% if current_user == secret.user %>
  <a href="/secrets/<%=secret.id%>" data-method="delete">Delete</a>
  <% end %>
<% end %>

<p>Find me in app/views/secrets/index.html.erb</p>
