<h1>Edit Dojo:</h1>
<form action='/dojos/<%= @dojo.id %>' method='POST'>
  Branch:<input type="text" name='dojo[branch]' placeholder='<%= @dojo.branch %>'><br>
  Street:<input type="text" name='dojo[street]' placeholder='<%= @dojo.street %>'><br>
  City:<input type="text" name='dojo[city]' placeholder='<%= @dojo.city %>'><br>
  State:<input type="text" name='dojo[state]' placeholder='<%= @dojo.state %>'><br>

  <input type="submit" value="Edit">
</form>
<a href="/dojos">Go Back</a>
<p>Find me in app/views/dojo/edit.html.erb</p>
