<h1>Listing <%= @number %> Dojos</h1>
<table>
    <thead>
    <tr style="font-weight: bolder;">
      <td>Coding Dojo Branch</td>
      <td>Street</td>
      <td>City</td>
      <td>State</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @dojos.each do |dojo| %>
    <tr>
      <td><%= dojo.branch %></td>
      <td><%= dojo.street %></td>
      <td><%= dojo.city %></td>
      <td><%= dojo.state %></td>
      <td><a href="/dojos/<%=dojo.id%>">Show</a>||<a href="/dojos/<%=dojo.id%>/edit">Edit</a>||<a href="/dojos/<%=dojo.id%>" method="DELETE">Delete</a></td>
    </tr>
  <% end %>  
  </tbody>
</table>
<!-- <a href="/dojos/new">New Dojo</a> -->
<a href="<%= new_dojo_path %>">New Dojo</a>
<p>Find me in app/views/dojo/index.html.erb</p>
