<h1><%= @dojo.branch %></h1>
<h4>Address: <%=@dojo.street%></h4>
<h4>City: <%=@dojo.city%></h4><h4>State: <%=@dojo.state%></h4>
<a href="/dojos">Home</a>|<a href="/dojos/<%=@dojo.id%>/edit">Edit</a>

<p>Find me in app/views/dojo/show.html.erb</p>
