<h1><%= @dojo.branch %></h1>
<h4>Address: <%=@dojo.street%></h4>
<h4>City: <%=@dojo.city%></h4><h4>State: <%=@dojo.state%></h4>
<a href="/dojos">Home</a>|<a href="/dojos/<%=@dojo.id%>/edit">Edit</a>

<table>
    <thead>
    <tr style="font-weight: bolder;">
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @students_by_dojo.each do |student| %>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.email %></td>
      <td><a href="/dojos/<%=@dojo.id%>/students/<%=student.id%>">Show</a>||<a href="/dojos/<%=@dojo.id%>/students/<%=student.id%>/edit">Edit</a>||<a href="/dojos/<%=@dojo.id%>/students/<%=student.id%>" data-method="delete">Delete</a>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="/dojos">Home</a>
<a href="/dojos/<%=@dojo.id%>/students/new">Add Student</a>


<p>Find me in app/views/dojo/show.html.erb</p>
