<h1>Welcome, <%= current_user.f_name %></h1>
<a href="/users/<%= current_user.id %>">Edit Your Profile</a>

<h3>Here are some of the events in your home state:</h3>
<table style="border:1px solid #ccc">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>City</th>
        <th>Host</th>
        <th>Actions</th>
    </tr>
    <% @local_events.each do |event| %>
    <tr>
        <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
        <td><%= event.date %></td>
        <td><%= event.city %>, <%= event.state %></td>
        <td><%= event.user.f_name %></td>
        <td>
            <% if current_user == event.user %>
            <a href="/events/<%= event.id%>" data-method="delete">Delete</a>|<a href="/events/<%= event.id%>/edit">Edit</a>
        <% end %>
        <% if current_user.events_attending.include?(event)%>
            <p>You are attending!</p> <a href="/events/<%= event.id %>/attendees/<%= event.attendees.first.id %>" data-method="delete">Cancel</a>
            <% else %>
            <a href="/events/<%= event.id %>/attendees" data-method="post">Join</a>
            <% end %>
        </td>
    </tr>
    <% end %>

</table>

<h3>Here are featured events in OTHER states:</h3>
<table style="border:1px solid #ccc">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>City</th>
        <th>Host</th>
        <th>Actions</th>
    </tr>
    <% @other_events.each do |event| %>
    <tr>
        <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
        <td><%= event.date %></td>
        <td><%= event.city %>, <%= event.state %></td>
        <td><%= event.user.f_name %></td>
        <td>
        <% if current_user == event.user %>
            <a href="/events/<%= event.id%>" data-method="delete">Delete</a>|<a href="/events/<%= event.id%>/edit">Edit</a>
        <% end %>
        <% if current_user.events_attending.include?(event)%>
        <p>You are attending!</p> <a href="/events/<%= event.id %>/attendees/<%= event.attendees.first.id %>" data-method="delete">Cancel</a>
        <% else %>
            <a href="/events/<%= event.id %>/attendees" data-method="post">Join</a>
            <% end %>
        </td>
    </tr>
    <% end %>

</table>

<h2>Add Event:</h2>
<form action="/events" style="border:1px solid #ccc" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="title"><b>Title:</b></label>
    <input type="text" placeholder="Title" name="event[title]" required><br>
    <label for="date"><b>Date:</b></label>
    <input type="date" name="event[date]" required><br>
    <label for="city"><b>Location:</b></label>
    <input type="text" placeholder="City" name="event[city]" required><br>
    <label for="state"><b>State:</b></label>
    <select name="event[state]" id="state">
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="IL">IL</option>
        <option value="TX">TX</option>
        <option value="WA">WA</option>
    </select><br>
    <input type="hidden" name="event[user_id]" value="<%= current_user.id %>">
    <button type="submit">Add Event</button>
</form>



<p>Find me in app/views/events/index.html.erb</p>
