<h1><%= @event.title %></h1>
<a href="/events">Event Dashboard</a>
<ul>
    <li>Host: <%= @event.user.f_name %></li>
    <li>Date: <%= @event.date %></li>
    <li>Location: <%= @event.city %></li>
    <li>Expected Attendance: <%= @event.attendees.count %></li>
</ul>
<table style="border:1px solid #ccc">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>State</th>
    </tr>
    <% @attendees.each do |attendee| %>
    <tr>
        <td><%= attendee.user.f_name %> <%= attendee.user.l_name %></td>
        <td><%= attendee.user.city %></td>
        <td><%= attendee.user.state %></td>
    </tr>
    <% end %>
</table>

<h3>Discussion about this event:</h3>
<ul>
    <li>Comment 1</li>
    <li>Comment 2</li>
    <li>Comment 3</li>
</ul>

<h4>Add Comment:</h4>
<form action="###" method="POST">
    <textarea name="comment" id="comment" cols="20" rows="5" placeholder="Your comment here"></textarea><br>
    <button type="submit">Submit Comment</button>
</form>


<p>Find me in app/views/events/show.html.erb</p>
